@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    color: #26140E;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
p {
    color: #26140E;
    font-size: 18px;
}
.pt2, .pt4 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.pt3 {
    background-color: #D9923B;
    padding-top: 40px;
    padding-bottom: 40px;
}
.pt3 h1 {
    text-align: center;
    margin-bottom: 30px;
}
.circulos {
    text-align: center;
}
.pt3 h2 {
    margin-top: 15px;
}

.pt2 button {
    background-color: #3a2119;
    border-color: #3a2119;
    padding: 8px 20px;
    margin-bottom: 20px;
}
.pt2 button:hover {
    background-color: #120c0a;
    border-color: #120c0a;
    letter-spacing: 3px;
    transition: all 0.3s ease-in-out;
}
.pt2 button a {
    text-decoration: none;
    color: #F2E3B8;
}