@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}
nav {
    background-color: rgba(0, 0, 0, 0.4);
}
body {
    background-color: #F2E3B8;
}
h1 {
    color: #26140E;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
p {
    color: #26140E;
}
.pt2 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.pt3 {
    background-color: #D9923B;
}